nav{
	position:relative;
	margin:auto;
	width:100%;
	height:auto;
	background:#EF5350;
}

nav ul{
	position:relative;
	margin:auto;
	width:100%;
	text-align: center;
}

nav ul li{
	display:inline-block;
	width:100%;
	line-height: 50px;
	list-style: none;
}

nav ul li a{
	color:white;
	text-decoration: none;
}


section{
	position: relative;
	margin: auto;
	width:400px;
}

section h1{
	position: relative;
	margin: auto;
	padding:10px;
	text-align: center;
}

section form{
	position:relative;
	margin:auto;
	width:400px;
}

section form input{
	display:inline-block;
	padding:10px;
	width:95%;
	margin:5px;
}

section form input[type="submit"]{
	position:relative;
	margin:20px auto;
	left:4.5%;

}

table{
	text-align: center;
	position:relative;
	margin:auto;
	width:100%;
	left:-20%;
}

table thead tr th{
	padding:10px;
}

table tbody tr td{
	padding:5px;
}



header {
	margin: 0 0 0 0;
	padding: 0;
	width: 50%; 
	background: #FF0000;
	color: white;
}


img {
	max-width: 100%;
}

#myInput {
	background-image: url('/css/searchicon.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
	border-collapse: collapse; /* Collapse borders */
	width: 100%; /* Full-width */
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
	text-align: left; /* Left-align text */
	padding: 12px; /* Add padding */
  }
  
  #myTable tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
	/* Add a grey background color to the table header and on hover */
	background-color: #f1f1f1;
  }
